@model ERP.Web.Areas.Sole.Models.SoleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sole";
}

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />

<div id="message-area"></div>

<script type="text/javascript">
    function ShowSuccess(data) {
        alert(data);
        window.location.href = '@Url.Action("CreateSole", "Sole")';
    }

    function HideForm() {
        $("#form-area").hide();
    }

    function ShowFailure(data) {
        alert("Already Exist")
    }
</script>

@section Scripts {
    <script type="text/javascript">
        prevententertosubmit();
    </script>

}

<form asp-controller="Sole" asp-action="CreateSole" data-ajax="true" data-ajax-success="ShowSuccess" data-ajax-failure="ShowFailure" data-ajax-method="POST">
    @Html.ValidationSummary(true)

    <div class="clear"></div>
    <div class="container">
        <div class="row clearleft-custom flow-offset-1">
            <div class="col-xs-12">
                <div class="thumbnail thumbnail-mod-1">
                    <div class="form">
                        <div>
                            <h3>@Html.ActionLink("Sole List", "SoleList", "Sole")</h3>
                        </div>
                        <div>
                            <h2>Sole Details</h2>
                            @Html.HiddenFor(a => a.SoleId)
                        </div>

                        <p class="contact">
                            @Html.LabelFor(a => a.SoleName)
                        </p>
                        @Html.TextBoxFor(a => a.SoleName, new { @required = "true", autocomplete = "off" })

                        <p class="contact">
                            @Html.LabelFor(a => a.Remark)
                        </p>
                        @Html.TextAreaFor(a => a.Remark, new { rows = "4", autocomplete = "off" })
                      
                        <p class="contact">
                            <label>&nbsp;</label>
                        </p>
                        <input id="Submit1" type="submit" value="Save Sole" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
