@model ERP.Web.Areas.Branch.Models.BranchModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Branch";
}
<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap-select.css" />
<script src="~/lib/bootstrap/dist/js/bootstrap-select.js"></script>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />

@section Scripts {
    <script type="text/javascript">
        prevententertosubmit();

        $(function () {
            $("#cbo_state").change(function () {
                var value = $("#cbo_state :selected").val();
                //$("#StateId").val(value);
                //alert(value);

                $.ajax({
                    cache: false,
                    url: '@Url.Action("GetCityList")',
                    type: "GET",
                    data: { id: value },
                    dataType: 'JSON',
                    success: function (data) {
                        var data = JSON.parse(data);
                        var items = [];
                        items.push("<option value=" + 0 + ">" + "-- Select --" + "</option>");
                        for (var i = 0; i < data.length; i++) {
                            items.push("<option value=" + data[i].id + ">" + data[i].value + "</option>");
                        }
                        $("#cbo_city").html(items.join(' '));
                        $("#cbo_city").selectpicker('refresh');
                    },
                });
            });
        });

        $(function () {
            $("#refreshstate").click(function () {
                //alert(value);
                $.ajax({
                    cache: false,
                    url: '@Url.Action("RefreshState")',
                    type: "GET",
                    data: {},
                    dataType: 'JSON',
                    success: function (data) {
                        var data = JSON.parse(data);
                        var items = [];
                        items.push("<option value=''>" + "-- Select --" + "</option>");
                        for (var i = 0; i < data.length; i++) {
                            items.push("<option value=" + data[i].id + ">" + data[i].value + "</option>");
                        }
                        $("#cbo_state").html(items.join(' '));
                        $("#cbo_state").selectpicker('refresh');
                    },
                });
            });
        });


        $(function () {
            $("#refreshcity").click(function () {
                 var value = $("#cbo_state :selected").val();
                //$("#StateId").val(value);
                //alert(value);

                $.ajax({
                    cache: false,
                    url: '@Url.Action("GetCityList")',
                    type: "GET",
                    data: { id: value },
                    dataType: 'JSON',
                    success: function (data) {
                        var data = JSON.parse(data);
                        var items = [];
                        items.push("<option value=" + 0 + ">" + "-- Select --" + "</option>");
                        for (var i = 0; i < data.length; i++) {
                            items.push("<option value=" + data[i].id + ">" + data[i].value + "</option>");
                        }
                        $("#cbo_city").html(items.join(' '));
                        $("#cbo_city").selectpicker('refresh');
                    },
                });
            });
        });

    </script>
}
<script type="text/javascript">
    function ShowSuccess(data) {
        $(".container").find("input:text").val('');
        $(".container").find("textarea").val('');
        //alert(data);
    }

    function HideForm() {
        $("#form-area").hide();
    }

    function ShowFailure(data) {
        //alert(data);
        alert("Already Exist");
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });
</script>

<form asp-controller="Branch" asp-action="CreateBranch" data-ajax="true" data-ajax-success="ShowSuccess" data-ajax-failure="ShowFailure" data-ajax-method="POST">
    @Html.ValidationSummary(true)
    <div class="clear"></div>
    <div class="container containerheight">
        <p>
            @Html.ActionLink("Branch List", "BranchList", "Branch", "", new { @class = "btn btn-info" })
        </p>
        <div class="row clearleft-custom flow-offset-1">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="thumbnail thumbnail-mod-1">
                    <div class="form">
                        @Html.HiddenFor(a => a.BranchID)
                        <p class="contact">
                            <label>Branch Name </label>
                        </p>
                        @Html.TextBoxFor(a => a.BranchName, new { @required = "true", autocomplete = "off", maxlength = "150"})

                        <p class="contact">
                            <label>Branch address</label>
                        </p>
                        @Html.TextAreaFor(a => a.Address, new { @required = "true", rows = "4", autocomplete = "off", maxlength = "150" })
                        <p class="contact">
                            <label>Phone No.</label>
                        </p>
                        @Html.TextBoxFor(a => a.PhoneNo, new { autocomplete = "off", @required = "true", maxlength = "100" })

                        <p class="contact">
                            <strong><a href="@Url.Action("CreateState", "State" , new { @area = "State" }) " target='_blank' style="display:inline;"> State </a></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" id="refreshstate" style="display:inline;"><span class="glyphicon glyphicon-refresh "></span></a>
                        </p>
                        @Html.DropDownListFor(a => a.StateId, new SelectList(Model.StateList, "Value", "Text", Model.StateId), "-- Select --", new { id = "cbo_state", @required = "true", @class = "selectpicker show-tick " })

                        <p class="contact">
                            <strong><a href="@Url.Action("CreateCity", "City" , new { @area = "City" }) " target='_blank' style="display:inline;"> City </a></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" id="refreshcity" style="display:inline;"><span class="glyphicon glyphicon-refresh "></span></a>
                        </p>
                        @Html.DropDownListFor(a => a.CityId, new SelectList(Model.CityList, "Value", "Text", Model.CityId), "-- Select --", new { id = "cbo_city", @required = "true", @class = "selectpicker show-tick " })

                        <p class="contact">
                            <label>&nbsp;</label>
                        </p>
                        <input id="Submit1" type="submit" value="Save Branch" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

