@using ERP.Domain.Entities;
@using NonFactors.Mvc.Grid;

@model IEnumerable<RMProperties>
@{
    int rowNumber = 1;
}
@(Html
                .Grid(Model)
                .Build(columns =>
                {
                    columns.Add(model => 0).Titled("").Encoded(false).RenderedAs(model => rowNumber++).Encoded(false);
                    columns.Add(model => $"<a href=" + @Url.Action("EditRMP", "RMProperties", new { id = model.RMPropertiesID }) + $"> <img src=\"../../images/edit.png\" data-toggle='tooltip' data-placement='bottom' title='Edit'></a>").Encoded(false);
                    columns.Add(model => $"<a href='#' > <img src=\"../../images/delete.png\"   onclick=showJqueryDialog(\"{model.RMPropertiesID}\"); > </a>").Encoded(false);
                    columns.Add(model => model.RMPropertiesName).Titled("RMP Name");
                    columns.Add(model => model.RMPropertiesIsPrintOnPo).Titled("Printable On PO").RenderedAs(model => model.RMPropertiesIsPrintOnPo == 1 ? "Yes" : "No");
                    columns.Add(model => model.RMPropertiesIsMaster).Titled("As a Master").RenderedAs(model => model.RMPropertiesIsMaster == 1 ? "Yes" : "No");
                    columns.Add(model => model.RMPropertiesRemark).Titled("Remark");
                })
                .Css("table-hover")
//.RowCss(model => model.RMPropertiesID % 2 == 0 ? "even" : "odd")
)
<!-- The loading-area will be where we display a message during the AJAX call.
    This way, the user knows something is happening in the background.-->
<div id="loading-area" class="load" style="display:none;">
    <div class='alert alert-info'><strong>Sending...</strong></div>
</div>

<!-- The message-area will be where we display a message after the AJAX call
    about whether or not the contact form was successfully sent-->
<div id="message-area"></div>

<!--jQuery Modal Div-->
<div id="dialog-confirm" title="Delete Confirmation" style="display:none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>


<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="dataConfirmLabel">Please Confirm</h3>
    </div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">OK</a></div>
</div>


<!-- These methods are invoked at different stages of the AJAX call-->

<div id="OrderDetails"></div>
<script type="text/javascript">
   

    function showJqueryDialog(id) {
        $("#dialog-confirm").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Yes": function () {

                    $.ajax({
                        cache: false,
                        url: '@Url.Action("EditRMP")',
                        type: "GET",
                        data: { id: id },
                        dataType: 'JSON',
                        success: function (data) {
                        },
                    });
                    $(this).dialog("close");
                   window.location.href = '@Url.Action("RMPList", "RMProperties")';
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    }
   
    function showJqueryDialog(id) {
        $("#dialog-confirm").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Yes": function () {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("DeleteRMP")',
                        data: { id: id },
                        dataType: 'JSON',
                        success: function (data) {
                            if (data == 1) {
                                alert("Record Deleted")
                                window.location.href = '@Url.Action("RMPList", "RMProperties")';
                            }
                            else {
                                alert("You can not delete this record beacause of record exist in another form")
                            }
                        },
                    });
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

  
    function showJavascriptDelete() {       
        var deleteUser = window.confirm('Are you sure you want to delete?');
        if (deleteUser){
            //Logic to delete the item
            alert('deleted');
        }
        else {
            return false;
        }
    }
    function ShowSuccess(data) {
        alert(data);
    }
    function HideForm() {
        //When the form is submitted, we hide the form
        $("#form-area").hide();
    }
</script>