@using ERP.Domain.Entities;
@using NonFactors.Mvc.Grid;
@model IEnumerable<CompanyDetails>

@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => $"<a href=" + @Url.Action("EditCompany", "Company", new { id = model.Id }) + $" > <img src=" + @Url.Content("~/images/edit.png") + " data-toggle='tooltip' data-placement='bottom' title='Edit'> </a>").Encoded(false);
            columns.Add(model => $"<a href='" + @Url.Content("~/" + model.LogoPath) + "' target='_blank' ><img src=" + @Url.Content("~/" + model.LogoPath) + " width='20' height='20' ></a>").Encoded(false);
            columns.Add(model => model.Id).Css("hidden");
            columns.Add(model => model.CName).Titled("Company");
            columns.Add(model => model.AddressOffice).Titled("Address Office");
        })
)


<!-- The loading-area will be where we display a message during the AJAX call.
    This way, the user knows something is happening in the background.-->
<div id="loading-area" class="load" style="display:none;">
    <div class='alert alert-info'><strong>Sending...</strong></div>
</div>

<!-- The message-area will be where we display a message after the AJAX call
    about whether or not the contact form was successfully sent-->
<div id="message-area"></div>

<!--jQuery Modal Div-->
<div id="dialog-confirm" title="Delete Confirmation" style="display:none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;  "></span>This items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<!-- These methods are invoked at different stages of the AJAX call-->
<script type="text/javascript">
    function showJqueryDialog(id) {
        $("#dialog-confirm").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Yes": function () {

                    $.ajax({
                        cache: false,
                        url: '@Url.Action("DeleteCompany")',
                        type: "GET",
                        data: { id: id },
                        dataType: 'JSON',
                        success: function (data) {
                        },
                    });

                    $(this).dialog("close");
                    //ShowSuccess("Delete Sucessfully.");
                    window.location.href = '@Url.Action("CompanyList","Company")';  //"../../adhesive/adhesive/adhesiveList";
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    function showJavascriptDelete() {
        var deleteUser = window.confirm('Are you sure you want to delete?');
        if (deleteUser) {
            //Logic to delete the item
            alert('deleted');
        }
        else {
            return false;
        }
    }

    function ShowSuccess(data) {
        alert(data);
    }

    function HideForm() {
        //When the form is submitted, we hide the form
        $("#form-area").hide();
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>