@model ERP.Web.Areas.UserRight.Models.UserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "User Right";
}
<script src="~/js/1.7.1/jquery.min.js"></script>
<script src="~/js/1.9.1/jquery-ui.min.js"></script>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $("#cbo_menucat").change(function () {
                var menucatid = $("#cbo_menucat :selected").val();
                //alert(menucatid);

                var url = '@Url.Action("SearchMenuChekedList", "UserRight")';
                $('#SearchMenuChekedList').load(url, { menucatid: menucatid }, function () { });

            });
        });

        //Select Menu
        $(function () {
            $('#Submit2').click(function () {
                //alert("Select Menu");
                var isAllValid = true;

                var userid = $('#cbo_user').val();
               // alert(userid);

                var menuid = {};
                var t = 0;
                var status = 0;
                var list = [];

                $('#SearchMenuChekedList .chkboxmenu').each(function () {
                    var row = $(this);
                    if ($(".suppliercheckbox", this).prop('checked')) {
                        var menu = $('.menu', row).val();
                        status = 1;
                        //menuid[t] = menu;
                        //t = t + 1;
                        //alert(menu);

                        var child = {
                            MenuId: menu, //$('.menu', row).val(),
                            UserId: userid,
                        }
                        list.push(child);
                        //var re = JSON.stringify(child);
                        //alert(re);
                    }
                });
               // alert(t + " Category selected");
                if (status != 1) {
                    alert("Please Check Category.");
                    return;
                }

                if (isAllValid) {
                    var masterdata = {
                        UserRightModel: list,
                    }
                    //alert(masterdata);
                    //var re = JSON.stringify(masterdata);
                    //alert(re);

                    $(this).val('Please wait...');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AssignMenutoUser")',
                        data: JSON.stringify(masterdata),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data) {
                                alert(data);
                                var url = '@Url.Action("ShowAssignedMenu", "UserRight")';
                                var data = {
                                    userid: userid,
                                };
                                $('#SearchMenuList').load(url, data, function () { });

                            }
                            else {
                                alert('Error');
                                $('#Submit2').val('Assign Menu');
                            }

                            $('#Submit2').val('Assign Menu');
                        },
                        error: function (error) {
                            //console.log(error);
                            alert('Error');
                            $('#Submit2').val('Assign Menu');
                        }

                    });
                }
            });
        });

        //Remove Menu
        $(function () {
            $('#Submit3').click(function () {
               // alert("Select Menu");
                var isAllValid = true;

                var userid = $('#cbo_user').val();
               // alert(userid);

                var menuid = {};
                var t = 0;
                var status = 0;
                var list = [];

                $('#SearchMenuList .chkboxmenu').each(function () {
                    var row = $(this);
                    if ($(".suppliercheckbox", this).prop('checked')) {
                        var menu = $('.menu', row).val();
                        status = 1;
                        //menuid[t] = menu;
                        //t = t + 1;
                        //alert(menu);

                        var child = {
                            MenuId: menu, //$('.menu', row).val(),
                            UserId: userid,
                        }
                        list.push(child);
                        //var re = JSON.stringify(child);
                        //alert(re);
                    }
                });
               // alert(t + " Menu selected");
                if (status != 1) {
                    alert("Please Check Menu.");
                    return;
                }

                if (isAllValid) {
                    var masterdata = {
                        UserRightModel: list,
                    }
                    //alert(masterdata);
                    //var re = JSON.stringify(masterdata);
                    //alert(re);

                    $(this).val('Please wait...');

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveAssignedMenuFromMenu")',
                        data: JSON.stringify(masterdata),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "Removed Assigned Menu") {
                                alert(data);

                                var url = '@Url.Action("ShowAssignedMenu", "UserRight")';
                                var data = {
                                    userid: userid,
                                };
                                $('#SearchMenuList').load(url, data, function () { });
                            }
                            else {
                                alert('Error');
                            }
                            $('#Submit3').val('Remove Menu');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#Submit3').val('Remove Menu');
                        }
                    });
                }
            });
        });

    </script>

<script type="text/javascript">
    $(function () {
        $("#cbo_user").change(function () {
            var userid = $('#cbo_user :selected').val();
            var data = {
                userid: userid
            };
            var url = '@Url.Action("ShowAssignedMenu", "UserRight")';
            $('#SearchMenuList').load(url, data, function () {
            });
        });
    });
</script>
}


<div class="clear"></div>
<div class="container">
    <div class="row clearleft-custom flow-offset-1">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="thumbnail thumbnail-mod-1">
                <h3>User Rights</h3>
                <div class="form">
                    @Html.HiddenFor(a => a.UserId)
                    <p class="contact">
                        <label>User</label>
                    </p>
                    @Html.DropDownListFor(a => a.UserId, new SelectList(Model.UserList, "Value", "Text", Model.UserId), "-- Select --", new { id = "cbo_user", @required = "true", })

                    <p class="contact">Menu Category</p>
                    @Html.DropDownListFor(a => a.MenuCategoryID, new SelectList(Model.MenuCategoryList, "Value", "Text", Model.MenuCategoryID), "-- Select --", new { id = "cbo_menucat", @required = "true", })
                    <div id="SearchMenuChekedList" style="height:350px; overflow:auto"></div>
                </div>
                <br />
                <input id="Submit2" type="button" value="Assign Rights" class="button" />
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="thumbnail thumbnail-mod-1">
                <h3>Assigned Rights</h3>
                <div class="form">
                    <div id="SearchMenuList" style="height:420px; overflow:auto"></div>
                </div>
                <br />
                <input id="Submit3" type="button" value="Remove Rights" class="button" />
            </div>
        </div>

    </div>
</div>
